.identity-card{
  width: 200px;
  border: solid;
  border-color:rgba(186, 186, 186, 0.384) ;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  text-align: center;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}
.page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
 
  
}
.identity-card .patient-logo,.staff-logo{
  width: 60%;
}
.title{
  font-family:  sans-serif;
}